.Capitalization {
  height: 120px;
  width: 100%;
  text-align: center;
  font-size: 19px;
  padding: 30px 0 0 0;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .Capitalization {
    width: 100%;
  }
}
