.Capitalization {
    height: 120px;
    width: 100%;
    box-shadow: 0px 1px 2px #ccc;
    text-align: center;
    padding: 30px 0 0 0;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .Capitalization {
        width: 100%;
    }
}