.Button {
  height: 50px;
  width: 50px;
  margin-top: 25px;
  outline: none;
  border: none;
  font-size: 18px;
  color: rgba(204, 204, 204, 0.7);
  font-weight: 100;
  background-color: transparent;
}

.Button:hover {
  transform: scale(1.2);
  color: rgba(0, 0, 0, 1);
}
@media (max-width: 600px) {
  .Button {
    font-size: 11px;
  }
}
