.Card {
    height: 100%;
    width: 100%;
    font-size: 13px;
}

.CardCointainer>* {
    box-sizing: border-box;
    display: inline-block;
}

.CardCointainer>input[type="number"] {
    height: 30px;
    width: 150px;
    margin: 0 30px;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    padding: 4px;
    text-align: center;
}

.Sections>h3 {
    text-align: center;
    margin: 20px;
}

.Sections {
    text-align: left;
    box-sizing: border-box;
    padding: 10px 40px;
    box-shadow: 0 2px 4px #ccc;
}