.CoinOnList {
  width: 100%;
  height: 100px;
  outline: 0.3px solid rgba(204, 204, 204, 0.2);
  display: flex;
  justify-content: space-around;
  margin: 1px 0;
}
.CoinOnListItem {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.CoinOnListItem span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  color: rgba(109, 123, 252, 0.933);
}
.CoinOnListItem h4 {
  color: black;
  font-weight: 400;
  font-size: 20px;
}

.CoinOnList:nth-child(odd) {
  background: white;
}

@media (max-width: 800px) {
  .CoinOnList {
    width: 100%;
  }
}
