.SearchCoin {
  width: 100%;
  height: 100px;
  outline: 1px dashed #ccc;
  display: flex;
  justify-content: space-around;
}
.SearchCoinItem {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.SearchCoin:nth-child(odd) {
  background: white;
}

@media (max-width: 800px) {
  .SearchCoin {
    width: 100%;
  }
}
